{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div class="pictures">
         <img src="static/img/photo1.jpg">
      </div>
      <div class="pictures"> 
         <img src="static/img/photo2.jpg">
      </div>
      <div class="pictures">
         <img src="static/img/photo3.jpg">
      </div>
      <div class="pictures">
         <img src="static/img/photo4.jpg">
      </div>
      <div class="pictures">
         <img src="static/img/photo5.jpg">
      </div>
      <div class="pictures">
         <img src="static/img/photo6.jpg">
      </div>
    </div>
{% endblock %}


